<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./cssjs.ejs") %>

</head>
<body>
    <h1>Welcome to the Gitpub</h1>

    <h3><a href="/drinks">Check out our drinks menu!</a></h3>
    <h3><a href="/food">Check out our food menu!</a></h3>

    
</body>
</html>